body{
    margin: 0;
    padding: 0;
    background-image: url(./фон.png);
    background-repeat: no-repeat no-repeat;
    background-size: 100% auto;
}
.block{
    width: 50%;
    margin: 500px auto;
}
.wheel{
   
}
.result{
    background-color: white;
    padding: 50px;
}
.rotating {
    transition: all 3s;
}
.modal{
    position: fixed;
    background-color: rgba(red, green, blue, 0.5);
}